.item-page-header {
  text-align: center;
  margin-bottom: 30px;
}

.item-page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  gap: 20px;
  padding: 20px;
}

.item-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  width: 250px;
  }
.item-image{
  width: 250px;
  height: 350px;
  object-fit: cover;
}
.add-cart-button{
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}